{
  "development": {
    "host": "localhost",
    "port": 4000,
    "uri": "/api"
  },
  "production": {
    "host": "localhost",
    "port": 4000,
    "uri": "/api"
  },
  "test": {
    "host": "api.test.localhost",
    "port": 4000,
    "uri": "/api"
  }
}
